In [9]:
# Import dependencies
import pandas as pd

In [10]:
# Read in batting csvs
bat_22 = pd.read_csv("Resources/2022_Batting.csv")
bat_21 = pd.read_csv("Resources/2021_Batting.csv")
bat_20 = pd.read_csv("Resources/2020_Batting.csv")
bat_19 = pd.read_csv("Resources/2019_Batting.csv")
bat_18 = pd.read_csv("Resources/2018_Batting.csv")
bat_17 = pd.read_csv("Resources/2017_Batting.csv")
bat_16 = pd.read_csv("Resources/2016_Batting.csv")
bat_15 = pd.read_csv("Resources/2018_Batting.csv")
bats = [bat_15,bat_16,bat_17,bat_18,bat_19,bat_20,bat_21,bat_22]

In [11]:
bat_18.head(2)

,Tm,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
0,Arizona Diamondbacks,49,29.2,4.28,162,6157,5460,693,1283,259,...,0.397,0.707,86,2170,110,52,38,45,36,1086
1,Atlanta Braves,58,27.3,4.69,162,6251,5582,759,1433,314,...,0.417,0.742,98,2330,99,66,49,43,53,1143

In [12]:
bat_18.columns

Index(['Tm', '#Bat', 'BatAge', 'R/G', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B',
       'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+',
       'TB', 'GDP', 'HBP', 'SH', 'SF', 'IBB', 'LOB'],
      dtype='object')

In [13]:
# Drop unwanted batting columns
for bat in bats:
    bat.drop(columns=['#Bat','G','PA','BA','OBP','SLG', 'OPS', 'OPS+','TB', 'GDP','IBB'], inplace=True)
bat_18.head(2)

,Tm,BatAge,R/G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,HBP,SH,SF,LOB
0,Arizona Diamondbacks,29.2,4.28,5460,693,1283,259,50,176,658,79,25,560,1460,52,38,45,1086
1,Atlanta Braves,27.3,4.69,5582,759,1433,314,29,175,717,90,36,511,1290,66,49,43,1143

In [14]:
# Read in pitching csvs
pit_22 = pd.read_csv("Resources/2022_Pitching.csv")
pit_21 = pd.read_csv("Resources/2021_Pitching.csv")
pit_20 = pd.read_csv("Resources/2020_Pitching.csv")
pit_19 = pd.read_csv("Resources/2019_Pitching.csv")
pit_18 = pd.read_csv("Resources/2018_Pitching.csv")
pit_17 = pd.read_csv("Resources/2017_Pitching.csv")
pit_16 = pd.read_csv("Resources/2016_Pitching.csv")
pit_15 = pd.read_csv("Resources/2018_Pitching.csv")
pits=[pit_15,pit_16,pit_17,pit_18,pit_19,pit_20,pit_21,pit_22]
pit_18.head(2)

,Tm,#P,PAge,RA/G,W,L,W-L%,ERA,G,GS,...,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,LOB
0,Arizona Diamondbacks,30,29.6,3.98,82,80,0.506,3.72,162,162,...,6139,113,3.91,1.254,8.1,1.1,3.2,8.9,2.77,1106
1,Atlanta Braves,35,27.7,4.06,90,72,0.556,3.75,162,162,...,6155,110,3.98,1.284,7.6,0.9,3.9,8.8,2.24,1128

In [15]:
pit_18.columns

Index(['Tm', '#P', 'PAge', 'RA/G', 'W', 'L', 'W-L%', 'ERA', 'G', 'GS', 'GF',
       'CG', 'tSho', 'cSho', 'SV', 'IP', 'H', 'R', 'ER', 'HR', 'BB', 'IBB',
       'SO', 'HBP', 'BK', 'WP', 'BF', 'ERA+', 'FIP', 'WHIP', 'H9', 'HR9',
       'BB9', 'SO9', 'SO/W', 'LOB'],
      dtype='object')

In [16]:
# Drop unwanted pitching columns
for pit in pits:
    pit.drop(columns=['#P', 'ERA', 'G', 'GS', 'GF','CG', 'cSho', 'IP', 'ER', 'BK', 'WP','ERA+', 'FIP', 'WHIP', 'H9', 'HR9','BB9', 'SO9', 'SO/W'], inplace=True)
pit_18.head(2)

,Tm,PAge,RA/G,W,L,W-L%,tSho,SV,H,R,HR,BB,IBB,SO,HBP,BF,LOB
0,Arizona Diamondbacks,29.6,3.98,82,80,0.506,9,39,1313,644,174,522,43,1448,57,6139,1106
1,Atlanta Braves,27.7,4.06,90,72,0.556,11,40,1236,657,153,635,43,1423,52,6155,1128

In [17]:
# Read in fielding csvs
def_22 = pd.read_csv("Resources/2022_Fielding.csv")
def_21 = pd.read_csv("Resources/2021_Fielding.csv")
def_20 = pd.read_csv("Resources/2020_Fielding.csv")
def_19 = pd.read_csv("Resources/2019_Fielding.csv")
def_18 = pd.read_csv("Resources/2018_Fielding.csv")
def_17 = pd.read_csv("Resources/2017_Fielding.csv")
def_16 = pd.read_csv("Resources/2016_Fielding.csv")
def_15 = pd.read_csv("Resources/2015_Fielding.csv")
fields = [def_15,def_16,def_17,def_18,def_19,def_20,def_21,def_22]
def_18.head(2)

,Tm,#Fld,RA/G,DefEff,G,GS,CG,Inn,Ch,PO,A,E,DP,Fld%,Rtot,Rtot/yr,Rdrs,Rdrs/yr,Rgood
0,Arizona Diamondbacks,49,3.98,0.698,162,1458,1119,13167,6150,4389,1686,75,152,0.988,28,3,125,7,14
1,Atlanta Braves,57,4.06,0.709,162,1458,1166,13110,5889,4370,1439,80,134,0.986,42,4,55,2,-1

In [18]:
def_18.columns

Index(['Tm', '#Fld', 'RA/G', 'DefEff', 'G', 'GS', 'CG', 'Inn', 'Ch', 'PO', 'A',
       'E', 'DP', 'Fld%', 'Rtot', 'Rtot/yr', 'Rdrs', 'Rdrs/yr', 'Rgood'],
      dtype='object')

In [19]:
# Drop unwanted fielding columns
for field in fields:
    field.drop(columns=['#Fld', 'RA/G', 'G', 'GS', 'CG', 'Inn', 'Fld%', 'Rtot', 'Rtot/yr', 'Rdrs', 'Rdrs/yr', 'Rgood'], inplace=True)
def_18.head(2)

                     Tm  DefEff    Ch    PO     A   E   DP
0  Arizona Diamondbacks   0.698  6150  4389  1686  75  152
1        Atlanta Braves   0.709  5889  4370  1439  80  134

In [20]:
# Merge dataframes by year
merged_22 = pd.merge(bat_22, pit_22, on='Tm')
merged_22 = pd.merge(merged_22, def_22, on = 'Tm')

merged_21 = pd.merge(bat_21, pit_21, on='Tm')
merged_21 = pd.merge(merged_21, def_21, on = 'Tm')

merged_20 = pd.merge(bat_20, pit_20, on='Tm')
merged_20 = pd.merge(merged_20, def_20, on = 'Tm')

merged_19 = pd.merge(bat_19, pit_19, on='Tm')
merged_19 = pd.merge(merged_19, def_19, on = 'Tm')

merged_18 = pd.merge(bat_18, pit_18, on='Tm')
merged_18 = pd.merge(merged_18, def_18, on = 'Tm')

merged_17 = pd.merge(bat_17, pit_17, on='Tm')
merged_17 = pd.merge(merged_17, def_17, on = 'Tm')

merged_16 = pd.merge(bat_16, pit_16, on='Tm')
merged_16 = pd.merge(merged_16, def_16, on = 'Tm')

merged_15 = pd.merge(bat_15, pit_15, on='Tm')
merged_15 = pd.merge(merged_15, def_15, on = 'Tm')

In [21]:
# Rename team names to include year
merged_22.Tm = merged_22.Tm +'_2022'
merged_21.Tm = merged_21.Tm +'_2021'
merged_20.Tm = merged_20.Tm +'_2020'
merged_19.Tm = merged_19.Tm +'_2019'
merged_18.Tm = merged_18.Tm +'_2018'
merged_17.Tm = merged_17.Tm +'_2017'
merged_16.Tm = merged_16.Tm +'_2016'
merged_15.Tm = merged_15.Tm +'_2015'

In [22]:
# Merging yearly dataframes into single dataframe
mlb_complete = pd.concat([merged_22, merged_21,merged_20,merged_19,merged_18,merged_17,merged_16,merged_15])

In [23]:
mlb_complete

,Tm,BatAge,R/G,AB,R_x,H_x,2B,3B,HR_x,RBI,...,SO_y,HBP_y,BF,LOB_y,DefEff,Ch,PO,A,E,DP
0,Arizona Diamondbacks_2022,26.5,4.33,5351,702,1232,262,24,173,658,...,1216,59,6065,1051,0.704,5746,4290,1370,86,134
1,Atlanta Braves_2022,27.5,4.87,5509,789,1394,298,11,243,753,...,1554,62,6031,1101,0.701,5803,4344,1382,77,110
2,Baltimore Orioles_2022,27.0,4.16,5429,674,1281,275,25,171,639,...,1214,64,6058,1092,0.690,5920,4300,1529,91,151
3,Boston Red Sox_2022,28.8,4.54,5539,735,1427,352,12,155,704,...,1346,72,6167,1109,0.683,5825,4293,1447,85,134
4,Chicago Cubs_2022,27.9,4.06,5425,657,1293,265,31,159,620,...,1383,73,6162,1130,0.697,5880,4331,1453,96,139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,St. Louis Cardinals_2015,28.0,4.69,5498,759,1369,248,9,205,725,...,1337,67,6271,1214,0.688,6107,4394,1617,96,159
25,Tampa Bay Rays_2015,27.1,4.42,5475,716,1415,274,43,150,664,...,1421,53,5992,1001,0.701,5863,4360,1408,95,118
26,Texas Rangers_2015,27.4,4.55,5453,737,1308,266,24,194,696,...,1121,72,6231,1090,0.687,6142,4328,1695,119,169
27,Toronto Blue Jays_2015,28.9,4.38,5477,709,1336,320,16,217,680,...,1298,67,6265,1132,0.708,6003,4323,1592,88,145
28,Washington Nationals_2015,27.6,4.76,5517,771,1402,284,25,191,737,...,1417,76,6087,1067,0.685,5927,4304,1533,90,125

In [24]:
# Creating list of teams that went to playoffs
postseason = ['Houston Astros_2022','New York Yankees_2022','Cleveland Guardians_2022',
'Toronto Blue Jays_2022','Seattle Mariners_2022','Tampa Bay Rays_2022','Los Angeles Dodgers_2022',
'Atlanta Braves_2022','St. Louis Cardinals_2022','New York Mets_2022','San Diego Padres_2022','Philadelphia Phillies_2022',
'Boston Red Sox_2018','Houston Astros_2018','Cleveland Indians_2018','New York Yankees_2018','Oakland Athletics_2018',
'Milwaukee Brewers_2018','Los Angeles Dodgers_2018','Atlanta Braves_2018','Chicago Cubs_2018','Colorado Rockies_2018',
'Tampa Bay Rays_2021',
 'Houston Astros_2021',
 'Chicago White Sox_2021',
 'Boston Red Sox_2021',
 'New York Yankees_2021',
 'San Francisco Giants_2021',
 'Milwaukee Brewers_2021',
 'Atlanta Braves_2021',
 'Los Angeles Dodgers_2021',
 'St. Louis Cardinals_2021',
 'Tampa Bay Rays_2020',
 'Oakland Athletics_2020',
 'Minnesota Twins_2020',
 'Cleveland Indians_2020',
 'New York Yankees_2020',
 'Houston Astros_2020',
 'Chicago White Sox_2020',
 'Toronto Blue Jays_2020',
 'Los Angeles Dodgers_2020',
 'Atlanta Braves_2020',
 'Chicago Cubs_2020',
 'San Diego Padres_2020',
 'St. Louis Cardinals_2020',
 'Miami Marlins_2020',
 'Cincinnati Reds_2020',
 'Milwaukee Brewers_2020',
 'Houston Astros_2019',
 'New York Yankees_2019',
 'Minnesota Twins_2019',
 'Oakland Athletics_2019',
 'Tampa Bay Rays_2019',
 'Los Angeles Dodgers_2019',
 'Atlanta Braves_2019',
 'St. Louis Cardinals_2019',
 'Washington Nationals_2019',
 'Milwaukee Brewers_2019',
 'Kansas City Royals_2015',
'Toronto Blue Jays_2015',
'Texas Rangers_2015',
'New York Yankees_2015',
'Houston Astros_2015',
'St. Louis Cardinals_2015',
'Los Angeles Dodgers_2015',
'New York Mets_2015',
'Pittsburgh Pirates_2015',
'Chicago Cubs_2015',
'Texas Rangers_2016',
'Cleveland Indians_2016',
'Boston Red Sox_2016',
'Toronto Blue Jays_2016',
'Baltimore Orioles_2016',
'Chicago Cubs_2016',
'Washington Nationals_2016',
'Los Angeles Dodgers_2016',
'New York Mets_2016',
'San Francisco Giants_2016',
 "Arizona Diamondbacks_2017",
    "Boston Red Sox_2017",
    "Chicago Cubs_2017",
    "Cleveland Indians_2017",
    "Colorado Rockies_2017",
    "Houston Astros_2017",
    "Los Angeles Dodgers_2017",
    "Minnesota Twins_2017",
    "New York Yankees_2017",
    "Washington Nationals_2017"]

In [25]:
# Creating list of true/false values for post_season column to be added to dataframe as target column for machine learning
new_column = []
for team in mlb_complete['Tm'].to_list():
    if team in postseason:
        new_column.append(True)
    else:
        new_column.append(False)
mlb_complete['post_season'] = new_column

In [26]:
# Adding year column
mlb_complete['Year'] = mlb_complete['Tm'].str[-4:]
mlb_complete.head(3)

,Tm,BatAge,R/G,AB,R_x,H_x,2B,3B,HR_x,RBI,...,BF,LOB_y,DefEff,Ch,PO,A,E,DP,post_season,Year
0,Arizona Diamondbacks_2022,26.5,4.33,5351,702,1232,262,24,173,658,...,6065,1051,0.704,5746,4290,1370,86,134,False,2022
1,Atlanta Braves_2022,27.5,4.87,5509,789,1394,298,11,243,753,...,6031,1101,0.701,5803,4344,1382,77,110,True,2022
2,Baltimore Orioles_2022,27.0,4.16,5429,674,1281,275,25,171,639,...,6058,1092,0.690,5920,4300,1529,91,151,False,2022

In [27]:
mlb_complete.to_csv("Resources/mlb_complete_8years.csv")